em[data-emoji=":stripe:"]::before,
em[data-emoji="stripe"]::before {
    background-image: url(./images/stripe.svg);
}

.img-dup {
    float: right;
}

.stripe-loader,
.stripe-loader:after {
    border-radius: 50%;
    width: 1em;
    height: 1em;
}
.stripe-loader {
    margin: 00px auto;
    overflow: hidden;
    display: inline-block;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.5em solid rgba(255, 255, 255, 0.2);
    border-right: 0.5em solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.5em solid rgba(255, 255, 255, 0.2);
    border-left: 0.5em solid #c0c0c0;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 0.5s infinite linear;
    animation: load8 0.5s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
